<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva Notificación</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="bg-white p-6 rounded-lg shadow-lg text-center max-w-md">
        <!-- Ícono de palomita -->
        <img src="/img/logo.jpeg" alt="Logo" class="mx-auto w-16 h-16 mb-4">

            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 2l4 4-5 5-1-1-4 4-4-4 4-4-1-1 5-5 4 4z" />
        </svg>

        <h2 class="text-xl font-semibold text-gray-800">INSTITUTO ELECTORAL Y DE PARTICIPACIÓN CIUDADANA DE DURANGO</h2>
        <p class="text-gray-600 mt-4">Gracias por usar nuestro buzón electrónico.</p>
        <p class="text-gray-600 mt-4">Su notificación se ha marcado como leída.</p>

        <p class="text-gray-600 mt-6">Equipo de Notificaciones</p>
    </div>
</body>
</html>
